# TASK - 3

#Car Price Prediction With Machine Learning

In [2]:
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [3]:
dff=pd.read_csv('C:\\Users\\arifa\\OneDrive\\Documents\\car data.csv')
dff

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
dff.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Driven_kms',
       'Fuel_Type', 'Selling_type', 'Transmission', 'Owner'],
      dtype='object')

In [5]:
X = dff[[ 'Year', 'Selling_Price', 'Driven_kms',
       'Fuel_Type', 'Selling_type', 'Transmission', 'Owner']]
X

,Year,Selling_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,2014,3.35,27000,Petrol,Dealer,Manual,0
1,2013,4.75,43000,Diesel,Dealer,Manual,0
2,2017,7.25,6900,Petrol,Dealer,Manual,0
3,2011,2.85,5200,Petrol,Dealer,Manual,0
4,2014,4.60,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...
296,2016,9.50,33988,Diesel,Dealer,Manual,0
297,2015,4.00,60000,Petrol,Dealer,Manual,0
298,2009,3.35,87934,Petrol,Dealer,Manual,0
299,2017,11.50,9000,Diesel,Dealer,Manual,0
300,2016,5.30,5464,Petrol,Dealer,Manual,0

In [6]:
Y = dff['Present_Price']
Y

0       5.59
1       9.54
2       9.85
3       4.15
4       6.87
       ...
296    11.60
297     5.90
298    11.00
299    12.50
300     5.90
Name: Present_Price, Length: 301, dtype: float64

In [7]:
label_encoder = LabelEncoder()
X['Fuel_Type']=label_encoder.fit_transform(X['Fuel_Type'])
X['Selling_type']=label_encoder.fit_transform(X['Selling_type'])
X['Transmission']=label_encoder.fit_transform(X['Transmission'])
X

C:\Users\arifa\AppData\Local\Temp\ipykernel_26100\97951499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Fuel_Type']=label_encoder.fit_transform(X['Fuel_Type'])
C:\Users\arifa\AppData\Local\Temp\ipykernel_26100\97951499.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Selling_type']=label_encoder.fit_transform(X['Selling_type'])
C:\Users\arifa\AppData\Local\Temp\ipykernel_26100\97951499.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Transmission']=label_encoder.fit_transform(X['Transmission'])

,Year,Selling_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,2014,3.35,27000,2,0,1,0
1,2013,4.75,43000,1,0,1,0
2,2017,7.25,6900,2,0,1,0
3,2011,2.85,5200,2,0,1,0
4,2014,4.60,42450,1,0,1,0
...,...,...,...,...,...,...,...
296,2016,9.50,33988,1,0,1,0
297,2015,4.00,60000,2,0,1,0
298,2009,3.35,87934,2,0,1,0
299,2017,11.50,9000,1,0,1,0
300,2016,5.30,5464,2,0,1,0

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
cols= X.columns
X = scaler.fit_transform(X)
X = pd.DataFrame(X)
X.columns = cols
X

,Year,Selling_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,0.128897,-0.258416,-0.256224,0.500183,-0.737285,0.39148,-0.174501
1,-0.217514,0.017481,0.155911,-1.852241,-0.737285,0.39148,-0.174501
2,1.168129,0.510154,-0.773969,0.500183,-0.737285,0.39148,-0.174501
3,-0.910335,-0.356950,-0.817758,0.500183,-0.737285,0.39148,-0.174501
4,0.128897,-0.012079,0.141743,-1.852241,-0.737285,0.39148,-0.174501
...,...,...,...,...,...,...,...
296,0.821718,0.953559,-0.076225,-1.852241,-0.737285,0.39148,-0.174501
297,0.475308,-0.130321,0.593804,0.500183,-0.737285,0.39148,-0.174501
298,-1.603156,-0.258416,1.313340,0.500183,-0.737285,0.39148,-0.174501
299,1.168129,1.347698,-0.719876,-1.852241,-0.737285,0.39148,-0.174501
300,0.821718,0.125869,-0.810958,0.500183,-0.737285,0.39148,-0.174501

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=50,test_size=0.25)

In [10]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train,Y_train)

LinearRegression()

In [11]:
Y_pred = clf.predict(X_test)
Y_pred

array([ 4.91319752, 26.61720768,  7.56766649,  3.33084166, -0.04784429,
        0.87340506, 34.97567768, -0.1091478 ,  7.91662742, 19.18184924,
        6.99316189, -1.96355349, 12.78355897, -1.29420705,  3.0862128 ,
        0.56893411, 18.55773129,  2.18500321,  9.29617749, 12.93783733,
        8.96446366, 13.21606886, 10.08549967,  5.79339319,  1.07499484,
       -1.07209665, 37.71287182,  5.27874405, 12.93401555,  7.06974096,
        2.4515189 ,  5.73631964, 10.26071373,  2.9856265 ,  6.78283341,
        5.157572  ,  7.56541971,  8.29846604,  7.95105583, -0.96677213,
        1.26760045, 11.72759057,  5.12836427,  2.01588551,  7.48290593,
        7.68480605, 10.38512762,  3.68132916,  8.00949717, -0.27681459,
       -0.40944785,  6.52972278,  1.63134335, 10.33895045, 10.10789697,
        4.04026771, 30.78997472, -0.28419857,  3.45521882,  8.33397509,
        9.31679758,  5.91183649,  2.32758288, 13.5203505 ,  7.42792589,
        8.78474258,  6.69766355, 13.56408908, -0.22683047,  4.56947504,
        9.43856413,  5.39857773,  2.72405465,  7.14658176,  6.89132634,
        8.0034248 ])

In [12]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(Y_test,Y_pred)
print("Mean Squared Error: ",mse)

Mean Squared Error:  12.385843056929698

In [13]:
import statsmodels.api as sm
X2= sm.add_constant(X)
est= sm.OLS(Y,X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Present_Price   R-squared:                       0.846
Model:                            OLS   Adj. R-squared:                  0.843
Method:                 Least Squares   F-statistic:                     230.4
Date:                Sun, 14 Jul 2024   Prob (F-statistic):          3.99e-115
Time:                        11:34:44   Log-Likelihood:                -793.98
No. Observations:                 301   AIC:                             1604.
Df Residuals:                     293   BIC:                             1634.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             7.6285      0.198     38.594      0.000       7.239       8.017
Year             -2.0092      0.246     -8.159      0.000      -2.494      -1.525
Selling_Price     8.2617      0.297     27.864      0.000       7.678       8.845
Driven_kms        0.4996      0.243      2.057      0.041       0.022       0.978
Fuel_Type         0.3856      0.237      1.627      0.105      -0.081       0.852
Selling_type     -0.0881      0.245     -0.360      0.719      -0.570       0.394
Transmission      0.0996      0.223      0.447      0.655      -0.339       0.538
Owner             0.3834      0.203      1.890      0.060      -0.016       0.783
==============================================================================
Omnibus:                      259.755   Durbin-Watson:                   1.600
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12679.048
Skew:                           3.095   Prob(JB):                         0.00
Kurtosis:                      34.187   Cond. No.                         2.70
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\arifa\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)